@font-face {
   font-family: 'MISTRAL';
   font-display: swap;
   src: url('file:///Users/urielcid/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-03-07_134327/fonts/MISTRAL/font.TTF');
}
